

.inner {
    margin-top: -120px;
    background-color: #ffffff;
    padding: 0;
}

.inner_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    width: 1200px;
    height: 200px;
   border: 1px solid #eeeeee; 
}

.inner_item {
    display: flex;
    align-items: center;
    width: 280px;
    border-right: 1px solid #eeeeee;
    &:hover{
        cursor: pointer;
    }
}

.inner_h3 {
    margin: 6px 0;
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: left;

}

.inner_small {
    color: #666666;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

}

.inner_div {
    margin-left: 20px;
}

/*inner qismi tugashi*/



